<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="LojaDB" connectionString="Data Source=CLIENTE-PC\\SQLEXPRESS;Initial Catalog=db_loja;Integrated Security=true"  providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>